@font-face {
	font-family: 'Circe-Regular';
  	src: url(../fonts/circe-regular.ttf) format('ttf'), url(../fonts/circe-regular.woff) format('woff');
  	font-weight: 400;
}

@font-face {
	font-family: 'Circe-Extra-Light';
  	src: url(../fonts/circe-extra-light.ttf) format('ttf'), url(../fonts/circe-extra-light.woff) format('woff');
  	font-weight: 300;
}

@font-face {
	font-family: 'Circe-Bold';
  	src: url(../fonts/circe-bold.ttf) format('ttf'), url(../fonts/circe-bold.woff) format('woff');
  	font-weight: 700;
}

@font-face {
	font-family: 'IntroScriptR';
  	src: url(../fonts/IntroScriptR-H2Base.ttf) format('ttf'), url(../fonts/IntroScriptR-H2Base.woff) format('woff');
  	font-weight: 400;
}

body {
	font-family: 'Circe-Regular', sans-serif;
	font-size: 13px;
	font-weight: 400;
	background: #fbebea;
	color: #2e2829;
	margin:0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	transition: all 0.5s ease;
	color: #2e2829;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display';
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1220px;
	margin: 0px auto;
}

.logo {
	font-family: 'Playfair Display';
	font-weight: 700;
	font-size: 24px;
}

.nav-menu {
	display: flex;
	align-items: flex-end;
	padding-top: 65px;
}

.menu {
	display: flex;
}

.menu_btn {
	padding-left: 45px;
	text-transform: uppercase;
}

.menu_btn:hover {
	color: #f50049;
}

.phone {
	font-family: 'Circe-Bold';
	font-size: 15px;
	padding-left: 225px;
}

.phone:hover {
	color: #f50049;
}

.offer {
  background-image: url(../img/Offer_Cakes.png);
  background-repeat: no-repeat;
  height: 1000px;
  background-position: right 100%;
}

.offer_block {
	padding-top: 180px;
	width: 370px;
}

.offer_title {
	font-size: 78px;
	letter-spacing: 5px;
}

.offer_text {
	font-family: 'IntroScriptR';
	font-size: 41px;
	margin-top: 10px;
	padding-bottom: 25px;
}

.offer_btn {
	font-family: 'Circe-Regular' sans-serif;
	font-size: 13px;
	color: #FFF;
	background: #f50049;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid #f50049;
	border-radius: 50px;
	padding: 18px 65px;
}

.offer_btn:hover {
	background: none;
	color: #f50049;
}

.offer_icons {
	padding-top: 140px;
	display: flex;
}

.icons_block {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 50px;
}

.icons_text {
	padding-left: 10px;
}

.ourcakes {
	margin-bottom: 100px;
}

.ourcakes_title {
	font-size: 40px;
}

.cakes_block {
	display: flex;
	margin-top: 65px;
}

.classic_cakes {
	background-image: url(../img/classic_cake.png);
  	background-repeat: no-repeat;
  	width: 696px;
  	transition: all 0.5s ease;
}

.classic_cakes:hover {
	box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
}

.block_text {
	padding-left: 50px;
	padding-top: 40px;
}

.cake_title {
	margin: -1px;
	font-size: 24px;
}

.cake_text {
	margin: -1px;
	font-size: 20px;
	opacity: 70%;
}

.block_show {
	display: flex;
	justify-content: flex-end;
	padding-right: 80px;
	padding-top: 470px;
	align-items: center;
}

.show {
	font-size: 20px;
}

.arrow {
	padding-left: 15px;
	height: 12px;
	opacity: 70%;
	transition: all 0.5s ease;
}

.arrow:hover {
	opacity: 100%;
}

.cakes {
 	padding-left: 40px;
 	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
}

.muss_cake {
	background-image: url(../img/muss_cake.png);
  	background-repeat: no-repeat;
  	width: 484px;
  	height: 305px;
  	transition: all 0.5s ease;
}

.muss_cake:hover {
	box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
}


.block_show-2 {
	display: flex;
	justify-content: flex-end;
	padding-right: 50px;
	padding-top: 160px;
}

.wedding_cake {
	background-image: url(../img/wedding_cake.png);
  	background-repeat: no-repeat;
  	width: 484px;
  	height: 305px;
  	transition: all 0.5s ease;
}

.wedding_cake:hover {
	box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
}

.cakes-2 {
	padding-right: 40px;
	display: flex;
 	flex-direction: column;
 	justify-content: space-between;
}

.man_cake {
	background-image: url(../img/man_cake.png);
  	background-repeat: no-repeat;
  	width: 484px;
  	height: 305px;
  	transition: all 0.5s ease;
}

.man_cake:hover {
	box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
}

.woman_cake {
	background-image: url(../img/woman_cake.png);
  	background-repeat: no-repeat;
  	width: 484px;
  	height: 305px;
  	transition: all 0.5s ease;
}

.woman_cake:hover {
	box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
}

.kids_cake {
	background-image: url(../img/kids_cake.png);
  	background-repeat: no-repeat;
  	width: 697px;
  	height: 652px;
}

.kids_cake:hover {
	box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
	-moz-box-shadow:3px 8px 17px 0px rgba(0,0,0,0.3);
}

.block_show-3 {
	display: flex;
	justify-content: flex-end;
	padding-right: 80px;
	padding-top: 510px;
}



