body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

:root{
    --color-theme: #81C0CB;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(--color-theme);
}

.logout_block {
    display: flex;
    align-items: center;
    position: absolute;
    right: 220px;
    
}
.name {
    margin-right: 30px;
}

.logout_btn {
    display: block;
    color: #FFF;
    outline: none;
    border: 2px solid #868686;
    background-color: #868686;
    width: 80px;
    height: 40px;
    padding: 8px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
}

.logout_btn:hover {
    background-color: var(--color-theme)
}
.section-calendar {
    height: 100vh;
}

.navigation_calendar {
    display: flex;
    align-items: center;
    width: 410px;
}

.arrow {
    width: 0; 
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    cursor: pointer;
    opacity: 80%;
}

.arrow:hover {
    opacity: 100%;
}

.left {
    border-right: 30px solid #868686;
}

.right {
    border-left: 30px solid #868686;
}

.year {
    color: #868686;
    font-size: 45px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.select-month {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin-left: 10px;
    color: #868686;
    outline: none;
    border: 2px solid #868686;
    border-radius: 10px;
    cursor: pointer;
}

.calendar-week {
    display: flex;
    margin-top: 10px;
}

.mt-no {
    margin-top: 0px;
}

.calendar-box {
    width: 50px;
    height: 50px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 25px;
    border-radius: 10px;
    margin-right: 10px;
    cursor:pointer;
    background-color: var(--color-theme);
}

.select-color {
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 220px;
    height: 50px;
    color: #868686;
    outline: none;
    border: 2px solid #868686;
    border-radius: 10px;
    cursor: pointer;
    right: 220px;
    top: 153px;
}

.add_events {
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    bottom: 30px;
    right: 220px;
    background-color: var(--color-theme);
    cursor: pointer;
}

.horizontal-plus {
    position: relative;
    background-color: #FFFFFF;
    width: 50%;
    height: 12.5%;
    left: 25%;
    top: 43.75%;
}

.vertical-plus {
    position: relative;
    background-color: #FFFFFF;
    width: 12.5%;
    height: 50%;
    left: 43.75%;
    top: 12.5%;
}

