body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 13px;
	color: #597275;
	padding: 0;
	margin: 0;
}
}

h1, h2, h3, h4, h5, h6 { 
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	transition: all 0.5s ease;
	color: #6d6e70;
}

.nav {
	height: 80px;
	background: #FFF;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
	max-width: 1020px;
	margin: 0px auto;
}

.logo {
	font-family: 'Nunito', sans-serif;
	font-size: 32px;
	font-weight: 400;
	text-transform: uppercase;
	color: #6d6e70;
}

.logo_img {
	padding-right: 10px;
}

.logo span {
	color: #595959;
}

.nav-menu {
	display: flex;
	align-items: center;
}

.menu {
	display: flex;
	padding-left: 90px;
	text-transform: uppercase;
}

.menu li {
	padding-right: 30px;
}

.menu a:hover {
	color: #bcda5c;
}

.login_btn {
	text-align: center;
	width: 100px;
	height: 40px;
	background: #bcda5c;
	padding: 8px;
	border-radius: 20px;
	text-transform: uppercase;
	color: #FFF;
	border: 2px solid #bcda5c;
	transition: all 0.5s ease;
}

.login_btn:hover {
	background: #FFF;
	color: #bcda5c;
}

.offer {
	height: 570px;
	background: url(../img/bg.png) no-repeat;
	background-size: 100%;
	height-size: 100%;
	margin-bottom: 30px;
	color: #FFF;
	text-align: center;
	justify-content: center;
}

.offer_title {
	padding-top: 170px;
	font-size: 40px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.offer_title span {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

.offer_btn {
	text-align: center;
	width: 250px;
	height: 70px;
	background: #99c50a;
	padding: 15px 40px;
	border-radius: 10px;
	color: #FFF;
	border: 2px solid #99c50a;
	transition: all 0.5s ease;
}

.offer_btn:hover {
	border: 2px solid #FFF;
}
